/* Stopwatch Styling*/
#stopwatch {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 250px;
  width: 200px;
  left: 10%;
  top: 40%;
}

#stopwatch-before {
  background-color: lightblue;
  
  border: 3px dotted burlywood;
  border-radius: 30%;

  height: 200px;
  width: 200px;
  position: absolute;
  left: 13%;
  top: 37%;
}

.stopwatchButton {
  height: 37px;
  width: 33px;
  position: absolute;
  left: 42%;
  top: 27.5px;
}

#stopwatchHand {
  height: 125px;
  width: 125px;
  position: absolute;
  top: 37%;
  left: 9%;
  transform-origin: 84px 64.5px; 
}


/* Drag & Drop Styling: */
.drag-list {
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px dotted transparent;
}

.cdk-drop-list-receiving {
  border: 1px solid rgba(66, 59, 59, 0.35);
}

mat-icon.drag-item {
  font-size: 20px;
  cursor: move;
  /* For outer box / positioning */
  position: absolute;
  top: -2px;
  left: -2px;
  width: 20px;
  height: 20px;
} 

.drag-placeholder {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: black;
  border: 1px solid black;
}

/* Mat Card Hint*/
mat-card {
  width: 400px;
  height: 40px;
  position: absolute;
  left: 25px;
  bottom: 60px;
  display: flex;
  z-index: 100;

  line-height: 20px;
  font-weight: 16px;
  color: rgba(255, 255, 255, 0.7);
  background: #323232;
}

mat-card button {
  line-height: 36px;
  color: #bcaaa4;
  background-color: inherit;
}

mat-card span {
  flex: 1 1 auto;
}
