/* Designed Mobile First -- only affects overall position of main timer element and background div */

/* Stopwatch Styling */
#stopwatch {
  height: 250px;
  width: 200px;
  position: absolute;
  left: 10%;
  top: 40%;
  display: flex;
  justify-content: center;
}

#stopwatch-before {
  height: 200px;
  width: 200px;
  border: 3px dotted burlywood;
  border-radius: 30%;
  background-color: lightblue;
  position: absolute;
  left: 13%;
  top: 37%;
}

.stopwatchButton {
  height: 37px;
  width: 33px;
  position: absolute;
  left: 42%;
  top: 27.5px;
}

#stopwatchHand {
  height: 125px;
  width: 125px;
  position: absolute;
  top: 37%;
  left: 9%;
  transform-origin: 84px 64.5px; 
}

/* Drag & Drop Styling: */
.drag-list {
  width: 15px;
  height: 15px;
  border: 1px dotted transparent;
  border-radius: 50%;
  display: block;
  position: absolute;
}

/* For styling hourglass drop location*/
.cdk-drop-list-receiving {
  border: 1px solid rgba(66, 59, 59, 0.35);
}

mat-icon.drag-item {
  width: 20px;
  height: 20px;
  font-size: 20px;
  cursor: move;
  position: absolute;
  top: -2px;
  left: -2px;
} 

.drag-placeholder {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
}

/* Material Card Hint */
mat-card {
  width: 400px;
  height: 40px;
  background: #323232;
  line-height: 20px;
  font-weight: 16px;
  color: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 25px;
  bottom: 60px;
  z-index: 100;
  display: flex;
}

mat-card button {
  color: #bcaaa4;
  background-color: inherit;
  line-height: 36px;
}

mat-card span {
  flex: 1 1 auto;
}


/* Tablet Size */
@media(min-width: 700px) {
  #stopwatch {
    left: 5%;
    top: 43%;
  }
  #stopwatch-before {
    left: 9%;
    top: 40%;
  }
}

/* Laptop Size */
@media(min-width: 1000px) {
  #stopwatch {
    left: 10%;
    top: 40%;
  }
  #stopwatch-before {
    left: 13%;
    top: 37%;
  }
}