<section>
  <form id="buttons" [formGroup]="controlForm" (ngSubmit)="onBoardSize()">
    <div id="left-buttons">
      <button
        mat-raised-button
        id="makeTurn" 
        type="button" 
        (click)="onMakeTurn()">
        makeTurn
      </button>

      <mat-divider [vertical]="true"></mat-divider>
      <div id=autoTurnTimerDiv>
        <label for="autoTurnTimerOn">Timer: </label>
        <button 
          mat-raised-button
          type="button" 
          id="autoTurnTimer" 
          name="timer"
          (click)="onAutoTurnTimer()"
          appClickedTurn>{{ autoTurnTimerCurrString }}</button>
        <span *ngIf="autoTurnTimerEnabled">{{ autoTurnTimeLeftString }} seconds</span>
      </div>

      <mat-divider [vertical]="true"></mat-divider>
      <div>
        <button 
          mat-raised-button
          id="makeRandomMark" 
          type="button" 
          class="random"
          (click)="onMakeRandomMark()">
          Go Random
        </button>
        <label for="randoDensity">Choose how random:</label>
        <mat-form-field appearance="fill">
          <input 
            matInput
            type="number" 
            id="randoDensity" 
            name="randoDensity" 
            formControlName="goRandomAmount"
            (click)="onRandoDensity()"
            onkeydown="return false"
            max="10" 
            min="1">
        </mat-form-field>
      </div>
    </div>

    <div id="right-buttons"> 
      <div>     
  
        <button 
          mat-raised-button
          (click)="onClearBoard()" 
          id="clearAll"
          appClickedColor
        >Clear All</button>
        

        <mat-divider [vertical]="true"></mat-divider>
        <label for="board-size-select">Choose board size:</label>
        <mat-slider 
          thumbLabel
          color="accent"
          name="boardSizeNum" 
          id="board-size-select" 
          formControlName="boardSize" 
          (change)="onBoardSize()"
          min="2" max="75"></mat-slider>
      
        <label for="board-size-select" class="small-visible">{{ boardSize }}</label>
      </div>
    </div>
  </form>

  <div>
    <interactive-stopwatch 
      [restoredUserAutoTurnDuration]="restoredFromLocalStorageAutoTurnDuration" 
      (autoTurnDurationOutput)="onUpdatedDuration($event)">
    </interactive-stopwatch>
  </div>
</section>

