<section class="center">
  <form id="buttons" [formGroup]="controlForm" (ngSubmit)="onBoardSize()">
    <input id="makeTurn" type="button" value="makeTurn" (click)="onMakeTurn()">
    <div>
      <label for="autoTurnTimerOn">Timer:</label>
      <input type="button" id="autoTurnTimerOn" value="On">
      <label for="autoTurnTimerOff">/</label>
      <input type="button" id="autoTurnTimerOff" value="Off">
    </div>

    <div>
      <input id="makeRandomMark" type="button" value="Go Random" class="random">
      <label for="randoDensity">    Choose how random:</label>
      <input type="number" id="randoDensity" name="randoDensity" value="5" max="10" min="1">
    </div>

    <div>
      <label for="board-size-select"> Choose board size:</label>
      <select name="boardSizeNum" id="board-size-select" class="random" formControlName="boardSize" (change)="onBoardSize()">
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4>4</option>
        <option value=5>5</option>
        <option value=10>10</option>
        <option value=15 selected>15</option>
      </select>
    </div>
  </form>
</section>