/*Control Center and Stopwatch*/
section {
  position: relative;
  height: 100%;
  width: 100%;
}

/* Buttons */
#buttons {
  align-self: center;
  padding: 1.25em;
  background-color: #999999;

  display: flex;
  flex-flow: row;
  margin: 3em 3em;
}

mat-divider {
  margin: 0 4px;
}

/* for styling sub-groups of related buttons*/
#buttons > * {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
}

label, span {
  margin-left: 4px;
  margin-right: 5px;
  font-weight: bold;
  font-size: 1.4em;
}

button {
  padding: 0 1em;
  margin: 0 5px;
}

/* Specific Button Styles */
.random {
  background-color: pink;
}

#spacer {
  flex: 1 1 auto;
}

#makeTurn:active {
  background-color: green;
  color: white;
  outline: none;
}

#autoTurnTimer {
  background-color: lightgreen;
}

#clearAll {
  box-sizing: border-box;
  border: 1px solid white;
}