/* Designed Mobile First -- only affects the board positioning */

/* Scroll Pages Layout*/
body {
  display: flex;
  flex-flow: column;
  margin: 0px;
}

article {
  height: 100vh;
  width: 100vw;
} 

/* Main Page Layout */
 #main {
  background-color: rgba(210, 180, 140, 0.6);
  position: absolute;
  height: 96%;
  width: 100%;
  margin-top: 15px;
}

#main section:nth-child(1) {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

#main section:nth-child(2) {
  position: absolute;
  bottom: 5%;
  right: 15%;
  right: 5%;
}


/* Tablet Size */
@media(min-width: 700px) {
  #main section:nth-child(2) {
    bottom: 7%;
    right: 3%;
  }
}

/* Laptop Size */
@media(min-width: 1000px) {
  #main section:nth-child(2) {
    bottom: 4%;
    right: 13%;
  }
}

/* Large Screen Size */
@media(min-width: 1400px) {
  #main section:nth-child(2) {
    bottom: 4%;
    right: 8%;
  }
}