@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/* Landing Page Layout*/
#landing {
  background-color: rgba(210, 180, 140, 0.7);
  position: absolute;
  height: 96%;
  width: 100%;
  margin-top: 10px;
  z-index: -50;
}

h1 {
  font-family: Oswald;
  letter-spacing: 4px;
  line-height: 1.5em;
  transform: rotate(-12deg);
  font-size: 45px;
  background-color: lightblue;
  padding: .8em;
  position: absolute;
  left: 8%;
  top: 10%;
  height: 300px;
  width: 200px;
}

main {
  position: absolute;
  left: 50%;
  top: 13%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 400px;
  height: 400px;
  background: url("../../assets/landing-page/paper-pad.png");
  background-size: cover;
  margin: 0 auto;
  font-size: 22px;
  font-family: 'Courier New', Courier, monospace;
  padding: 1.4em;
}

main > div {
  position: absolute;
  top: -10%;
  left: 68%;
  z-index: -10;
  width: 200px;
  height: 200px;
  background-color: lightblue;
  border-radius: 70%;
  border: 1px solid blue;
}

main ul {
  margin-top: 0;
}

main h3 {
  margin-top: 40px;
  margin-bottom: 42px;
  font-weight: bold;
  font-size: 1.17em;
  font-family: 'Courier New', Courier, monospace;
}

main li {
  line-height: 1.7em;
  margin-bottom: 20px;
}


#scroll {
  position: absolute;
  bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

#scroll  p {
  color: white;
  letter-spacing: 3px;
  margin-bottom: -5px;
}