/* Table/Board Styling - mostly styled dynamically with table-sizing.directive */
section {
  font-size: 1px;
}
table {
  border: 2px solid black;
  border-collapse: collapse;
  display: table;
  table-layout: fixed;
}

table td {
  border: 1px solid black;
  box-sizing: border-box;
  display: table-cell;
  width: auto;
  height: auto;
  padding: 0;
}